@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-terminalBg text-terminalFg font-mono;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 255, 102, 0.05) 2px
  );
  pointer-events: none;
  z-index: 9999;
}
